.karla_header {
  background-color: rgb(41, 8, 8);
}

.footer {
background-color: rgb(10, 23, 2);
height: 100px;
padding: 25px 5px 5px 5px;
text-align: center;
}

.pic{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 25%
}

h1 {
  color: rgb(255, 255, 255);
  padding: 60px 0 20px 0px;
  margin: 0;
  text-align: center;
  font-family: arial, sans-serif;
}

h2 {
font-family: arial, sans-serif;
}

h3 {
  font-family: arial, sans-serif;
}


p {
  text-align: center;
  font-family: arial, sans-serif;
}

article {
padding: 0 30px 30px 30px; 
}



.wrapper {
    text-align: center;
    
}

.light-background {
    background-color: rgb(255, 255, 255);
    color: #1e1e1e
}

.box {
  background-color: rgb(255, 252, 252);
  border: 2px solid black;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 20px;
  font-family: arial, sans-serif;
  text-align: center;
}

.box2 {
  width: 200px;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 20px;
  color: rgb(0, 0, 255);
  font-family: arial, sans-serif;
  text-align: center;
}
 
a[href^="tel:"]{
  color: pink;
}
  
li{
  color:rgb(10, 28, 43)
}


a {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

a:link    { color: rgb(58, 123, 221);  }
a:visited { color: rgb(245, 31, 31);   }
a:hover   { color: rgb(124, 252, 124); }
a:active  { color: rgb(255, 155, 172);  }

.center {
text-align: center;
list-style-position: inside;
}

.centered_list  {
text-align: center;
list-style-position: inside;
}


/* background, color, font-family, font-size,
height, margin, padding, text-align */

